/*font type */
body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
}


/* Start responsible */

/*on scrreen less than 576px*/
@media (max-width: 576px) {
    .none {
        display: none;
    }
    .mobile_menu {
        display: inline-block;
    }
    section .section {
        width: 80%;
    }
    .section-border-left {
        height: 300px;
        transform: translate(50%, 180%);
        width: 20%;
    }
    .section-border-right {
        height: 300px;
        transform: translate(-50%, 180%);
        width: 20%;
    }
}

/*on scrreen more than 576px  */
@media (min-width: 576px) {
    .none {
        display: none;
    }
    .mobile_menu {
        display: inline-block;
    }
    section .section {
        width: 80%;
    }
    .section-border-left {
        height: 300px;
        transform: translate(50%, 130%);
        width: 20%;
    }
    .section-border-right {
        height: 300px;
        transform: translate(-50%, 130%);
        width: 20%;
    }
}


/*on scrreen more than 768px*/

@media (min-width: 768px) {
    .none {
        display: flex;
    }
    .mobile_menu {
        display: none;
    }
    section .section {
        width: 50%;
    }
    .section-border-left {
        height: 300px;
        transform: translate(50%, 150%);
        width: 50%;
    }
    .section-border-right {
        height: 300px;
        transform: translate(-50%, 150%);
        width: 50%;
    }
}

/*on scrreen more than 992px*/

@media (min-width: 992px) {
    .none {
        display: flex;
    }
    .mobile_menu {
        display: none;
    }
    section .section {
        width: 50%;
    }
    .section-border-left {
        height: 600px;
        transform: translate(50%, 100%);
        width: 50%;
    }
    .section-border-right {
        height: 600px;
        transform: translate(-50%, 100%);
        width: 50%;
    }
}



/*on scrreen more than 1200px*/

@media (min-width: 1200px) {
    .none {
        display: flex;
    }
    .mobile_menu {
        display: none;
    }
    section .section {
        width: 50%;
    }
    .section-border-left {
        height: 600px;
        transform: translate(50%, 100%);
        width: 50%;
    }
    .section-border-right {
        height: 600px;
        transform: translate(-50%, 100%);
        width: 50%;
    }
}


/* End responsible */


/* Start Header */

header {
    background-color: black;
    height: 70px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}


header .container {
    width: 85%;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
/*logo */
header img {
    margin-top: 10px;
}

nav {
    margin-top: auto;
    margin-bottom: auto
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 80px;
}
/*the nav in the mobile screen */
.mobile {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: black;
    right: 0px;
    top: 50px;
    position: absolute;
    padding: 10px 30px;
}

nav li {
    color: #fff;
    list-style: none;
    margin: auto 5px;
    padding: 8px;
    border: 0px solid;
    border-radius: 4px;
    transition: 0.8s;
}

nav li:hover {
    background-color: #fff;
    color: #000;
}

a {
    text-decoration: none;
    color: #fff;
}

li:hover a {
    color: #000;
}

/*icon mobile*/
.mobile_menu {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.8s;
}

.line_1,
.line_2,
.line_3 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0px;
    right: 0px;
}

.line_1,
.line_3 {
    transition: 0.5s;
}

.open .line_1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.open .line_3 {
    transform: rotate(45deg) translate(-6px, -5px)
}

.open .line_2 {
    visibility: hidden;
}

.active_nav {
    background-color: rgb(105, 105, 105);
}


/* End Header */


/* Start section */
/* the main section */
section {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

section .section {
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 13px rgb(211, 210, 210);
    z-index: 2;
}
/* class make section dis active when scroll out it */
.disactive {
    background-color: rgb(221, 220, 220);
}
/* class make section dis active when scroll in it */
.active {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: #0D6EFD;
}

hr {
    border: 3px solid #FFD00A;
    border-radius: 3px;
}


/*animation*/
/* make animation to the section were in the left  */
#section_1,
#section_3 {
    animation-name: animation-left;
    animation-timing-function: ease;
    animation-duration: 4s;
}
/* make animation to the section were in the left  */
#section_2,
#section_4 {
    animation-name: animation-right;
    animation-timing-function: ease;
    animation-duration: 4s;
}

/* make animation for the section */
@keyframes animation-left {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes animation-right {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}
/* paragraf */
section .section p {
    line-height: 28px;
    text-align: justify;
}

/*section borde blude */
.section-border-right {
    border: 10px solid #0D6EFD;
    border-radius: 10px;
    z-index: 1;
}
/*section borde yellow */
.section-border-left {
    border: 10px solid #FFD00A;
    border-radius: 10px;
    z-index: 1;
}
/* End section  */


/* button*/
.button-section {
    width: 85%;
    margin: auto;
}

/* button up */
.button {
    border: none;
    background-color: #0D6EFD;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    position: fixed;
    right: -100px;
    bottom: 40px;
    z-index: 6;
    transition: 0.8s;
}
/* when the mouse moveon the botten */
button:hover {
    background-color: #FFD00A;
    color: black;
    border-radius: 5px;
}
/* class wiil add to the button when secroll down */
.show {
    right: 50px;
}
